<div class='shadow rounded p-4 m-4 bg-blue-50'>
  <h1 class= "text-3xl font-bold mb-4 text-black flex text-blue-900 justify-center">Paciente <%= @patient.name.titleize  %> </h1>
  <%= render 'form', submit: 'Actualizar paciente' %>
</div>