<div class='shadow-md shadow-black rounded px-2 pb-2 mb-2 mx-4 bg-violet-200'>
  <h1 class= 'text-3xl text-black flex text-violet-800 justify-center'>Nuevo Paciente</h1>
  <%= render 'form', submit: 'Agregar paciente' %>
</div>