<div class='shadow rounded p-4 m-4 bg-blue-50'>
  <h1 class= 'text-3xl font-bold mb-4 text-black flex text-blue-800 justify-center'>Nuevo Paciente</h1>
  <%= render 'form', submit: 'Agregar paciente' %>
</div>